@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

$primary: hsl(233, 47%, 7%);
$secondary: hsl(244, 38%, 16%);
$accent:  hsl(277, 64%, 61%);

$main-white:  hsl(0, 0%, 100%);
$paragraph-white:  hsla(0, 0%, 100%, 0.75);
$stats-headings-white:  hsla(0, 0%, 100%, 0.6);
$font-regular: 15px; 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter';
    background: $primary;

    

}

.wrapper{
    width: 100%;
    min-height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 2rem;


}

.card {
    display: flex;
    flex-direction: column;
    background: $secondary;
    color: $main-white;
    max-width: 500px;
   align-content: center;
   border-top-left-radius: 1rem;
   border-top-right-radius: 1rem;


    

}

// Card Header Image
.card__header-container{
   

    position: relative;
    width: 100%; 
}

.card__header-image{
    width: 100%;
    height: 100%;
    display: block;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}
.card__header--overlay{
    position: absolute;
    top:0;
    left: 0;
    background: $accent;
    width: 100%;
    height: 100%;
    opacity: .5;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.card_header-image--desktop{
    display: none;
}

//card Body
.card__body{
    padding: 1rem;
}

//Card Title

.card__title{
    text-align: center;
   padding: .5rem .5rem;
    
}
.text__color--purple{
    color: $accent;
}
//Card Description

.card__description{
    text-align: center;
    padding: 1rem ;
    color: $paragraph-white;
    font-size: 15px;
    line-height: 1.5rem;
}
//card details
.card__details{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    color: $stats-headings-white;

  
   
}
ul{
    list-style-type: none;
}

.card_detail--center{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .7rem;
    font-family: 'Lexend Deca';
    text-transform: uppercase;
    font-size: 15px;

}
 
.data-value{
    font-size: 1rem; 
    color: $main-white;
    font-family: 'Inter';
    text-transform: lowercase;
    font-weight: bold;
    font-size: 1.5rem;

}
// Footer
.attribution { 
    font-size: 11px; 
    text-align: center;

    padding: 1rem 0; 
    color: $paragraph-white;}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

//Media Queries

@media (min-width: 900px){
    .card {
        flex-direction: row-reverse;
        min-width: 1000px;
       border-radius: .3rem;

    }
 
    .card__header-image{
        border-top-left-radius: 0;
        border-bottom-right-radius: .3rem;
        border-top-right-radius: .3rem;
        background: white;
       
    }
    .card__header--overlay{
        border-bottom-right-radius: .3rem;
        border-top-left-radius: 0;
        border-top-right-radius: .3rem;
    }
    .card__header-container{
       flex: 100%;
    ;
    }
    .card__body{
        padding: 3rem;
 
 
    }

    .card_header-image--mobile{
        display: none;
    }
    .card_header-image--desktop{
        display: block;
    }


    .card__details{
        flex-direction: row;
    }

}